---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.0/css/all.min.css" integrity="sha512-ApSLB1Pd3/bZN8fWB/RG9YhN/7bd9Hkf3AGaE2mPfebjrxagjuBtx2GcgdqIlJkUzwylBo61r9Xa9NmgBI0swA==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://unpkg.com/beerslider@1.0.3/dist/BeerSlider.css"
          integrity="sha384-ZveTPUF1SurDs6nJkjOW+d0sLlPO23ctWsQWj4w1qdzVXTurxziP922rCiqd4jrf"
          crossorigin="anonymous">
</head>

<body>
<div class="main-container">
    <div class="row">
        <div class="introduction-details">
            <span class="greeting">Hello, I'm</span>
            <h1>Simon Schellaert</h1>
            <span class="subtitle">Software Engineer</span>

            <ul class="contact-options">
                {% for contact_option in site.contact_options %}
                <li><a href="{{ contact_option.link }}" target="_blank"><i class="{{ contact_option.icon }}" title="{{ contact_option.name }}"></i></a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="introduction-photo">
            <img src="img/headshot.jpg" alt="Simon Schellaert">
        </div>
    </div>

    <h2>Featured Projects</h2>

    <div class="projects">
        {% for project in site.projects %}
        <div class="project">
            <img src="img/projects/{{ project.id }}/thumbnail.jpg" alt="{{ project.name }}" data-bs-toggle="modal" data-bs-target="#project-{{ project.id }}-modal">
        </div>
        {% endfor %}
    </div>

</div>

{% for project in site.projects %}

<div class="project-modal" id="project-{{ project.id }}-modal">
    <div class="modal-dialog modal-xl modal-dialog-centered my-5">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8 d-flex align-items-center {% if project.has_video %}col-md-12{% endif %}">
                            <div>
                                <h2 style="text-align: left; margin: 0; margin-bottom: 1rem;">{{ project.name }}</h2>
                                {{ project.description | markdownify }}

                                {% if project.action_link %}
                                    <a href="{{ project.action_link }}" target="_blank" class="btn-sm btn-primary">{{ project.action_title }}</a>
                                {% endif %}

                                {% if project.has_video %}
                                <video class="d-block mx-auto" style="max-width: 480px; width: 100%;" autoplay muted controls playsinline loop>
                                    <source src="img/projects/{{ project.id }}/video.mp4" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                                {% endif %}
                            </div>
                        </div>

                        {% unless project.has_video %}
                        <div class="d-md-flex col-md-4 justify-content-center align-items-center"
                             style="text-align: center;">
                            {% if project.id == 'thesis' %}
                            <div style="max-width: 100%; margin: 20px 0"  id="slider" class="beer-slider" data-beer-label="after">
                                <img src="img/projects/thesis/after.jpg" alt="">
                                <div class="beer-reveal" data-beer-label="before">
                                    <img src="img/projects/thesis/before.jpg" alt="">
                                </div>
                            </div>
                            {% else %}
                            <img style="max-width: 100%; margin: 20px 0" src="img/projects/{{ project.id }}/side.jpg" alt="{{ project.name }}">
                            {% endif %}
                        </div>
                        {% endunless %}
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>
{% endfor %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/beerslider@1.0.3/dist/BeerSlider.js"
        integrity="sha384-IqsSf+qPrMYFru/xpdalu+CdlKy4UGVzOAvWDC6dYQOKBLtTfrxaIXxyehlCqerc"
        crossorigin="anonymous"></script>
<script>
    var slider = new BeerSlider(document.getElementById('slider'));
    document.getElementById('project-thesis-modal').addEventListener('shown.bs.modal', function (e) {
        slider.setImgWidth();
    });
</script>

</body>


</html>
